# jupyter
ipykernel
ipywidgets

# data process
pandas
scikit-learn

# math
scipy
pooch # scipy dataset dependency
sympy

# visualization
matplotlib
ipympl
seaborn
plotly
bokeh

## for datashader
holoviews
hvplot
datashader
fastparquet
python-snappy


# read xlsx
openpyxl

# console prompt
tqdm

# tools
more-itertools

# dl
tensorflow
tensorrt