# jupyter
ipykernel
ipywidgets

# data process
pandas
scikit-learn

# math
scipy
pooch # scipy dataset dependency
sympy

# visualization
matplotlib
ipympl

# read xlsx
openpyxl

# console prompt
tqdm

# tools
more-itertools

# dl
tensorflow
tensorrt